<% provide :title, t(".home")%>
<div class="center jumbotron">
  <h1><%= t ".welcom" %></h1>
  <h2>
    <%= t ".this" %>
    <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
  </h2>
  <%= link_to t(".sig"), signup_path , class: "btn btn-lg btn-primary" %>
</div>
